body.dark {
  background: #121212;
  color: #eaeaea;
}

body.dark #sidebar {
  background: #000;
}

body.dark #nav button {
  background: #222;
}

body.dark #nav button:hover {
  background: #333;
}

body.dark pre {
  background: #1e1e1e;
  color: #eaeaea;
}